#tableDiv {
  display: none;
}
.swiper-slide{
  /*overflow-y: auto;*/
}
.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #b4b4b4;
}
.table td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px !important;
}
.table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: center;
  color: #2267c0;
  padding: 10px !important;
  /*text-align: left;*/
  background-color: #eaebec;
}
td {
  word-break: break-all;
  white-space: nowrap;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}
th {
  word-break: break-all;
  white-space: nowrap;
}
.tabDiv {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  border-bottom: 1px solid #cccccc;
}
.tabDiv .tab-item {
  padding: 0;
}
.tabDiv .tab-item .tab-p {
  height: 60px;
  line-height: 60px;
  border: 1px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: '微软雅黑';
  font-size: 16px;
  color: #ffffff;
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #dddddd 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);
}
.tabDiv .tab-item .active {
  background: #3A89ED;
  background: -moz-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89ed), color-stop(100%, #3a89ed));
  background: -webkit-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -o-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -ms-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: linear-gradient(to bottom, #3a89ed 0%, #447fca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A89ED', endColorstr='#447FCA', GradientType=0);
}
.swiper-slide {
  background: #ffffff;
}
.swiper-slide .queryDiv {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #cccccc;
}
.swiper-slide .queryDiv .query-input {
  height: 40px;
  line-height: 40px;
  padding: 2px 10px;
  margin-left: 10px;
  border: 1px solid #cccccc;
  outline: none;
  font-family: '微软雅黑';
  font-size: 18px;
}
.swiper-slide .queryDiv .input-title {
  font-family: '微软雅黑';
  font-size: 16px;
  color: #666666;
  display: inline;
}
.swiper-slide .queryDiv #query-btn,.btn-xgit{
  width: 40%;
  height: 45px;
  margin-top: 15px;
  line-height: 35px;
  border-radius: 10px;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #ffffff;
  outline: none;
  background: #3A89ED;
  background: -moz-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89ed), color-stop(100%, #3a89ed));
  background: -webkit-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -o-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -ms-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: linear-gradient(to bottom, #3a89ed 0%, #447fca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A89ED', endColorstr='#447FCA', GradientType=0);
}
.swiper-slide .itemDiv2 {
  margin-top: 50px;
}
.swiper-slide .itemDiv2 .query-input2 {
  width: 100%;
  height: 40px;
  padding: 2px 10px;
  margin-left: 10px;
  border: 1px solid #cccccc;
  outline: none;
  font-family: '微软雅黑';
  font-size: 18px;
  margin-left: -10%;
}
.swiper-slide .itemDiv2 .input-title2 {
  height: 40px;
  line-height: 40px;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #666666;
}
.swiper-slide .itemDiv2 #query-btn2,#query-btn5 {
  width: 80%;
  height: 40px;
  line-height: 30px;
  border-radius: 10px;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #ffffff;
  outline: none;
  background: #3A89ED;
  background: -moz-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89ed), color-stop(100%, #3a89ed));
  background: -webkit-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -o-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -ms-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: linear-gradient(to bottom, #3a89ed 0%, #447fca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A89ED', endColorstr='#447FCA', GradientType=0);
}
.swiper-slide .itemDiv2 #sure-btn2,
.swiper-slide .itemDiv2 #sure-btn3,
.swiper-slide .itemDiv2 #sure-btn5{
  width: 60%;
  height: 50px;
  line-height: 40px;
  border-radius: 10px;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #ffffff;
  outline: none;
  background: #3A89ED;
  background: -moz-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89ed), color-stop(100%, #3a89ed));
  background: -webkit-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -o-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -ms-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: linear-gradient(to bottom, #3a89ed 0%, #447fca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A89ED', endColorstr='#447FCA', GradientType=0);
}
.swiper-slide .itemDiv2 #cancel-btn2,
.swiper-slide .itemDiv2 #cancel-btn3,
.swiper-slide .itemDiv2 #cancel-btn5{
  width: 60%;
  height: 50px;
  line-height: 40px;
  border-radius: 10px;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #ffffff;
  outline: none;
  background: #3A89ED;
  background: -moz-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89ed), color-stop(100%, #3a89ed));
  background: -webkit-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -o-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: -ms-linear-gradient(top, #3a89ed 0%, #447fca 100%);
  background: linear-gradient(to bottom, #3a89ed 0%, #447fca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A89ED', endColorstr='#447FCA', GradientType=0);
  /*background: #dddddd;*/
  /*background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #dddddd));*/
  /*background: -webkit-linear-gradient(top, #dddddd 0%, #cccccc 100%);*/
  /*background: -o-linear-gradient(top, #dddddd 0%, #cccccc 100%);*/
  /*background: -ms-linear-gradient(top, #dddddd 0%, #cccccc 100%);*/
  /*background: linear-gradient(to bottom, #dddddd 0%, #cccccc 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);*/
}
#bcp-table{
  table-layout:fixed;
}
#bcp-table tbody td{
  /*white-space:nowrap;overflow:hidden;text-overflow: ellipsis;带省略号*/
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  word-break: break-all; /*以字母为单位折断*/
  word-wrap: break-word; /*以单词为单位折断*/
  white-space: pre-wrap; /*汉字*/
}
.antoLine{
  line-height: 55px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  word-break: break-all; /*以字母为单位折断*/
  word-wrap: break-word; /*以单词为单位折断*/
  white-space: pre-wrap; /*汉字*/
  font-family: '微软雅黑';
  font-size: 16px;
  font-weight: normal;
}
.xgit-select{
  width: 80%;
  font-family: '微软雅黑';
  font-size: 16px;
  background: #e0e0e0;
}
/*成缆仓储管理*/
#mtype_select{
  width:60%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cccccc;
  font-family: '微软雅黑';
  font-size: 16px;
}
/*集中供料*/
#sheet1 ul li,#sheet2 ul li{
  height: 70px;
  line-height: 50px;
  font-family: '微软雅黑';
  font-size: 20px;
}

#confirmDiv,#alertDiv{
  width: 86%;
  height: auto;
  position: absolute;
  background: #eaebec;
  border-radius: 15px;
  display: none;
  z-index: 800;
}
.confirm_titleDiv{
  background: #3A89ED;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#confirm_title_p,#alert_title_p{
  font-family: 微软雅黑;
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
}
#alert_title_p{
  line-height: 40px;
}
.confirm_bodyDiv{
  padding-top: 2%;
}
.confirm_footerDiv{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /*background: #3A89ED;*/
}
.confirm_bodyDiv .data-content{
  font-family: 微软雅黑;
  font-size: 20px;
  color: #333333;
  margin-top: 10%;
}
.confirm_bodyDiv .share_p{
  font-family: 微软雅黑;
  font-size: 20px;
  color: #333333;
  padding: 3%;
}
.btn_p{
  width: 70%;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  font-family: 微软雅黑;
  font-size: 20px;
}
.pop-title{
  font-family: 微软雅黑;
  font-size: 20px;
  line-height: 40px;
  color: #333333;
}
#alert_p{
  font-family: 微软雅黑;
  font-size: 26px;
  color: #333333;
}
.date {
  margin-top: 20px;
  width: 100px;
  height: 35px;
}